@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato');


body {
	background-image: url(https://images.unsplash.com/photo-1456324504439-367cee3b3c32?auto=format&fit=crop&w=750&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0;
    min-height: 100vh;  
	font-family: 'Lato', sans-serif;

}

.board {
	text-align: center;
}

.btn-x {
	position: relative;
	margin: 0;
	width: 25px;
	height: 25px;
	padding: 0;
	line-height: 20px;
	font-size: 8px;
	top: -70px;
	left: 230px;
	
}

.btn-info {
	min-width: 180px;
	min-height: 50px;
	font-size: 18px;
	
}

h1 {
    margin: 25px auto;
	width: 650px;
	height: 60px;
	border: solid none;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	
} 

.column {
    background-color: #3D424C;
    border-radius: 5px;
    box-shadow:10px 10px 5px 0px rgba(0,0,0,0.61);
    text-align: center;
    display: inline-block;
	min-height: 450px;	
    width: 250px;
	margin: auto 50px;
	position: relative;
}

.column-title {
    margin: 12px;     
}

.column-container {
  margin-top: 50px; 
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

}

li.card {
	background-color: #FFF81E;
    color: #4900B2;	
	position: relative;
    width: 200px;
    margin-top: 25px;	
	margin-left: -18px;
	box-shadow:5px 5px 5px 1px rgba(0,0,0,0.61);
	cursor: pointer;

}

.card-description {
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
	font-weight: bold;
	
}
.card-placeholder {
	box-sizing: border-box;
	display: block;
    width: 200px;
	min-height: 50px;
    margin-top: 12px;
    border: dotted 2px rgba(255,248,30,0.5);
}

.ui-sortable {
  min-height: 80px;
}

.card .btn-delete {
	position: relative;
	width: 25px;
	height: 25px;
	margin: 0;
	top: 5px;
	left: 170px;
	line-height: 10px;
	padding: 0;
	
}

ul {
	list-style: none;
}

